:root {
  --bgc: rgb(43, 45, 49);
}

p,
ul,
h1,
h3,
body {
  margin: 0;
}
body {
  background-color: var(--bgc);
  color: white;
  font-size: 1rem;
  max-width: 640px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;

  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(70, 116, 81, 0.5);
  scrollbar-width: thin;
}
body > :first-child {
  margin-top: 0.5rem;
}
body > :last-child {
  margin-bottom: 0.5rem;
}
button {
  padding: 8px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #3496ff;
}

#backdrop {
  margin: 0;
  position: absolute;
  inset: 0;
  background-color: #000000bb;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
  visibility: hidden;
  transition-behavior: allow-discrete;
}
#backdrop.show {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.github {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.github:hover {
  background: rgba(255, 255, 255, 0.2);
}

.githubName {
  content: "sec0ndw1nd";
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  opacity: 0.5;
  transform: translateX(-100%);
  letter-spacing: 10px;
  font-size: 0.1rem;
  pointer-events: none;
}
.github:hover .githubName {
  opacity: 1;
  transform: translateX(-105%);
  letter-spacing: 1px;
  font-size: 0.75rem;
}

.input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: black;
}
#url {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.label {
  display: flex;
  align-items: center;
}
.label p {
  min-width: 80px;
}
.inputGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#saveButton {
  margin-right: 2rem;
}
#exportButton,
#importButton {
  background-color: gray;
}
:is(#exportButton, #importButton):hover {
  background-color: darkgray;
}
.deleteButton {
  background-color: rgb(255, 116, 116);
}
.deleteButton:hover {
  background-color: rgb(255, 66, 66);
}

#keywordList {
  padding: 0;
  list-style: none;
  flex: 1;
  overflow-y: auto;
  scrollbar-color: rgba(255, 255, 255, 0.3) var(--bgc);
  transition: scrollbar-color 0.2s ease;
}
#keywordList::-webkit-scrollbar {
  border-radius: 5px !important;
}
#keywordList:hover {
  scrollbar-color: rgba(255, 255, 255, 0.6) var(--bgc);
}
#keywordList > .keywordItem:last-child {
  margin-bottom: 0;
}
.keywordItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin-bottom: 0.3rem;
}
.keywordItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.listLeft {
  flex: 1;
}

.scrollShadow {
  --background-color: var(--bgc);
  --shadow-color: rgba(175, 175, 175, 0.15); /* rgba(20, 20, 20, 0.6) */
  --shadow-size: 3rem;
  --transparent: rgba(255, 255, 255, 0);

  background: linear-gradient(
      var(--background-color),
      var(--background-color),
      var(--transparent) calc(var(--shadow-size) * 2)
    ),
    linear-gradient(
      to bottom,
      var(--shadow-color),
      /* 중간 색상 정지점 추가 */ var(--transparent)
    ),
    linear-gradient(
      to top,
      var(--background-color),
      var(--background-color),
      var(--transparent) calc(var(--shadow-size) * 2)
    ),
    linear-gradient(
        to top,
        var(--shadow-color),
        /* 중간 색상 정지점 추가 */ var(--transparent)
      )
      0 100%;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: local, scroll, local, scroll;
  background-size: 100% 100%, 100% var(--shadow-size), 100% 100%,
    100% var(--shadow-size);
}

.searchContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.searchGroup {
  display: flex;
  align-items: stretch;
  gap: 0.5rem;
  position: relative;
  border-radius: 5px;
}
.searchInput {
  max-width: 120px;
  padding-right: 40px;
}
#searchButton {
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: 2px;
  padding: 10px;
  border-radius: 5px;
  padding: 0 8px;
  background-color: darkgray;
}
#searchButton:hover,
.searchInput:focus ~ #searchButton {
  background-color: gray;
}
.buttonGroup {
  display: flex;
  gap: 0.5rem;
}

#deleteAllButton {
  background-color: rgb(255, 65, 43);
}
#deleteAllButton:hover {
  background-color: rgb(255, 0, 0);
}

.deleteAllWrapper {
  position: relative;
}
.askBubble {
  position: absolute;
  background: #000000;
  border-radius: 5px;
  top: 25px;
  left: -65%;
  border: 1px white solid;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  transition-behavior: allow-discrete;
  z-index: -1;
}
.askBubble.show {
  top: 45px;
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
.askBubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
}
.askWrapper {
  padding: 1rem;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
.askMessage {
  padding: 0 1rem;
}
.askMessage strong {
  color: red;
}
.responseGroup {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.yes {
  background-color: gray;
}
.yes:hover {
  background-color: rgb(255, 0, 0);
}
.no {
  background-color: gray;
}
.no:hover {
  background-color: darkgray;
}
